{% extends "cars_and_motorcycles/index.html" %}

{% block title %}Voitures & Motos | Ajouter{% endblock %}

{% block content %}
<h2>Formulaire pour ajouter une voiture</h2>
<form method="post" action="/cars_and_motorcycles/traitement_add_object/">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Ajouter"\>
</form>
<h2 class="subtitle">Formulaire pour ajouter une moto</h2>
<form method="post" action="/cars_and_motorcycles/traitement_add_object/">
    {% csrf_token %}
    {{ form2.as_p }}
    <input type="submit" value="Ajouter"\>
</form>
{% endblock %}