<!DOCTYPE html>
<html>
<head lang="fr">
	{% load static %}
	<meta charset="utf-8">
	<title>{% block title %}Voitures & Motos{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{%static 'cars_and_motorcycles/styles.css'%}">
</head>
<body>
	<div id="root">
		<header>
			<h1>Voitures & Motos</h1>
		</header>
		<nav>
			<a href="/cars_and_motorcycles/index/" class="menu_buttons">Menu Principal</a>
			<a href="/cars_and_motorcycles/cars_list/" class="menu_buttons">Lister les modèles de voiture</a>
			<a href="/cars_and_motorcycles/motorcycles_list/" class="menu_buttons">Lister les modèles de motos</a>
			<a href="/cars_and_motorcycles/add_object/" class="menu_buttons">Ajouter un modèle</a>
			<a href="/cars_and_motorcycles/add_marque/" class="menu_buttons">Ajouter une marque</a>
		</nav>
		<section>
			{% block content %}
			<h2>Le menu principal</h2>
			{% endblock %}
		</section>
	</div>
	</body>
</html>