{% extends "cars_and_motorcycles/index.html" %}

{% block title %}Voitures & Motos | Ajouter{% endblock %}

{% block content %}
<h2>Ajouter une marque de voiture</h2>
<form method="post" action="/cars_and_motorcycles/t_add_car_marque/">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Ajouter"\>
</form>
<h2>Liste des marques de voiture disponibles</h2>
<ul>
    {% for l in liste %}
        <li class="lists">
            {{l}}
            <a href="/cars_and_motorcycles/update_car_marque/{{l.id}}" class="misc_options">Modifier</a>
            <a href="/cars_and_motorcycles/delete_car_marque/{{l.id}}" class="misc_options">Supprimer</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}